:host {
  contain: strict;
}

.part-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.note {
  position: absolute;
  border: 2px outset #fff8;
  border-inline-width: 4px;
}

.note-preview {
  will-change: transform;
  opacity: .5;
}
