:host {
  contain: strict;
}

* {
  position: absolute;
}

.part-container {
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

.note {
  border: 2px outset #0008;
  border-inline-width: 4px;
}

.note-selected {
  border-color: #fff;
}

.hide-selected-notes .note-selected {
  display: none;
}

.note-preview {
  will-change: transform;
  opacity: .5;
}

.selection-resize-handle {
  cursor: ew-resize;
}

.selection-start-rect {
  pointer-events: none;
  background-color: #fff3;
  border: 1px dashed #fff;
}
