<div class="canvas-box fill-container" [style.transform]="viewport.viewportTransform()">
  <canvas #canvas></canvas>
</div>
<div class="click-handler" (mousedown)="onMouseDown($event)" [style.transform]="viewport.viewportTransform()"
  [style.cursor]="styleCursor() ?? 'not-allowed'"></div>
<!-- 
<div class="part-container" [class.hide-selected-notes]="hideSelectedNotes">
  <div class="part-container" *ngFor="let part of projectParts(); trackBy: trackIdx; let pIdx = index">
    <div class="note" *ngFor="let note of part.notes; trackBy: trackIdx; let nIdx = index"
      [class.note-selected]="selection.has([pIdx, nIdx])" [style]="noteStyle(note)"
      [style.background-color]="part.color" (mousedown)="onSelectedNoteMouseDown(pIdx, nIdx, $event)">
    </div>
  </div>
</div>

<div class="part-container" *ngIf="draggedNotes">
  <div class="note note-selected" *ngFor="let noteEnt of draggedNotes; trackBy: trackIdx"
    [style]="noteStyle(noteEnt[1])" [style.background-color]="projectParts()?.[noteEnt[0]]?.color">
  </div>
</div>

<div class="note note-preview" [style]="notePreviewStyle ?? 'display: none'" [style.background-color]="activePartColor()">
</div>
<div class="note" [style]="activeNoteStyle ?? 'display: none'" [style.background-color]="activePartColor()"></div>

<div *ngIf="showResizeHandles && singleSelection">
  <div class="note note-selected" [style]="resizeNoteStyle ?? 'display: none'"
    [style.background-color]="projectParts()?.[singleSelection[0]]?.color"></div>
  <div class="selection-resize-indicator" [style]="selectionResizeIndicatorStyle ?? 'display: none'">
    <div class="selection-resize-handle handle-left" (mousedown)="startNoteResize(0, $event)"></div>
    <div class="selection-resize-handle handle-right" (mousedown)="startNoteResize(1, $event)"></div>
  </div>
</div>

<div class="selection-start-rect" [style]="selectionStartRectStyle ?? 'display: none'"></div> -->
