<div class="part-container" *ngFor="let part of project.project?.parts; let pIdx = index">
  <div class="note" *ngFor="let note of part.notes; let nIdx = index"
    [class.note-selected]="selection.get(pIdx)?.has(nIdx)" [style]="noteStyle(note)"
    [style.background-color]="part.color" [hidden]="resizeNote && resizeNote[0] === pIdx && resizeNote[1] === nIdx">
  </div>
</div>


<div class="note note-preview" [style]="notePreviewStyle ?? 'display: none'" [style.background-color]="activePartColor">
</div>
<div class="note" [style]="activeNoteStyle ?? 'display: none'" [style.background-color]="activePartColor"></div>

<div *ngIf="singleSelection">
  <div class="selection-resize-handle" [style]="selectionResizeHandleStyle(0)" (mousedown)="startNoteResize(0, $event)">
  </div>
  <div class="selection-resize-handle" [style]="selectionResizeHandleStyle(1)" (mousedown)="startNoteResize(1, $event)">
  </div>
  <div class="note note-selected" [style]="resizeNoteStyle ?? 'display: none'"
    [style.background-color]="project.project?.parts?.[singleSelection[0]]?.color"></div>
</div>

<div class="selection-start-rect" [style]="selectionStartRectStyle ?? 'display: none'"></div>
