:host {
  contain: strict;
}

* {
  position: absolute;
}

.part-container {
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

.note {
  border: 2px outset #0008;
  border-inline-width: 4px;
  pointer-events: none;
}

.note-selected {
  border-color: #eeec;
  pointer-events: all;
}

.hide-selected-notes .note-selected {
  display: none;
}

.note-preview {
  will-change: transform;
  opacity: .5;
}

.selection-resize-indicator {
  pointer-events: none;
}

.selection-resize-indicator::before {
  content: "";
  position: absolute;
  inset: 0;
  border-inline: 2px solid white;
}

.selection-resize-handle {
  width: 8px;
  height: 100%;
  cursor: ew-resize;
  pointer-events: all;
}

.selection-resize-handle.handle-left {
  left: -4px;
}

.selection-resize-handle.handle-right {
  right: -4px;
}

.selection-start-rect {
  pointer-events: none;
  background-color: #fff3;
  border: 1px dashed #fff;
}
