.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

mat-card-title {
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.card-overflow-menu {
  margin-inline-end: -10px;
  margin-block-start: 4px;
}

button.full-width {
  display: block;
  width: 100%;
}
