<div class="container">
  <app-audio-waveform (click)="onWaveformClick($event)" (wheel)="onWaveformWheel($event)"></app-audio-waveform>
  <div class="spectrogram-container" (wheel)="onSpecWheel($event)" #specContainer (mousemove)="onSpecMouseMove($event)"
    (mouseleave)="onSpecMouseLeave()">
    <div class="spectrogram-offset" [style.transform]="offsetDivTransform()">
      <ng-content></ng-content>
    </div>
    <div class="crosshair" style="height: 1px;" [style.transform]="crosshairYTransform()"
      [hidden]="!showCrosshair || visMouseY() === undefined"></div>
  </div>
</div>
<div class="crosshair" style="width: 1px; background-color: red;" [style.transform]="playheadTransform()"></div>
<div class="crosshair" style="width: 1px;" [style.transform]="crosshairXTransform()"
  [hidden]="!showCrosshair || visMouseX() === undefined"></div>
