.grids-container {
  pointer-events: none;
  contain: strict;
  /* apparently this makes Chrome's compositor behave better */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.grids-container>* {
  isolation: isolate;
}

.pitch-grid-borders {
  position: absolute;
  border-top: 1px solid green;
  width: 100%;
}

.pitch-grid-centers {
  position: absolute;
  border-top: 1px dashed gray;
  height: 1px;
  width: 100%;
}

.pitch-label {
  position: absolute;
  color: white;
  text-shadow: black 0px 0px 5px, black 0px 0px 5px, black 0px 0px 5px;
  height: 0;
  overflow: visible;
  display: flex;
  align-items: center;
  font-family: sans-serif;
  padding-left: 1px;
}

.beat-grid {
  position: absolute;
  height: 100%;
  width: 1px;
  border-left: 1px solid yellow;
  opacity: 50%;
}

.beat-grid-measure {
  opacity: 100%;
}
