<div class="grids-container">
  <div *ngIf="beatGrid">
    <div class="beat-grid" *ngFor="let i of beatGrid; trackBy: trackIdx" [style.transform]="'translateX('+i.x+'px)'"
      [class.beat-grid-measure]="i.m" [class.beat-grid-subdiv]="i.s"></div>
  </div>
  <div *ngIf="showPitchGrid && showPitchGridCenters">
    <div class="pitch-grid-centers" *ngFor="let p of pitchGridCenters" [style.transform]="'translateY('+p.y+'px)'">
    </div>
  </div>
  <div *ngIf="showPitchGrid">
    <div class="pitch-grid-borders" *ngFor="let p of pitchGridBorders" [style.transform]="'translateY('+p.y+'px)'">
    </div>
  </div>
  <div *ngIf="pitchLabelType !== 'none'" [style.font-size.px]="pitchLabelFontSize">
    <div class="pitch-label" *ngFor="let p of pitchLabels" [style.transform]="'translateY('+p.y+'px)'">
      <span>{{p.txt}}</span>
    </div>
  </div>
  <div *ngIf="showCrosshair && mouseY !== undefined">
    <div class="crosshair" style="height: 1px;" [style.transform]="'translateY('+mouseY+'px)'"></div>
    <div class="crosshair" *ngFor="let o of overtoneYOffsets" style="height: 1px" [style.opacity]=".8-o.i*.05"
      [style.transform]="'translateY('+(mouseY - o.y)+'px)'" [hidden]="!showOvertones"></div>
  </div>
</div>
