<div class="grids-container">
  <div *ngIf="beatGrid" class="beat-container" [style.transform]="beatContainerTransform()"
    [style.width.px]="beatContainerWidth()">
    <div class="beat-grid" *ngFor="let i of beatGrid(); trackBy: trackBeatGridByTransform" [style.transform]="i.xfm"
      [class.beat-grid-measure]="i.m" [class.beat-grid-subdiv]="i.s"></div>
  </div>
  <div class="pitch-container" [style.transform]="pitchContainerTransform()" [style.height.px]="pitchContainerHeight()">
    <div *ngIf="showPitchGrid && showPitchGridCenters()">
      <div class="pitch-grid-centers" *ngFor="let p of pitchGridCenters(); trackBy: trackIdx" [style.transform]="p">
      </div>
    </div>
    <div *ngIf="showPitchGrid">
      <div class="pitch-grid-borders" *ngFor="let p of pitchGridBorders(); trackBy: trackIdx" [style.transform]="p">
      </div>
    </div>
    <div *ngIf="_pitchLabelType$() !== 'none'" [style.font-size.px]="pitchLabelFontSize()">
      <div class="pitch-label" *ngFor="let p of pitchLabels(); trackBy: trackIdx" [style.transform]="p.xfm">
        <span>{{p.txt}}</span>
      </div>
    </div>
  </div>
  <div *ngIf="showOvertones && showCrosshair" class="overtone-container"
    [style.transform]="overtoneContainerTransform()">
    <div class="crosshair" *ngFor="let o of overtoneYOffsets(); index as idx; trackBy: trackIdx" style="height: 1px"
      [style.opacity]=".7-idx*.05" [style.transform]="o"></div>
  </div>
</div>
