:host {
  pointer-events: none;
}

.pitch-container {
  will-change: transform;
  position: absolute;
  width: 100%;
  contain: strict;
}

.pitch-grid-borders {
  position: absolute;
  border-top: 1px solid gray;
  width: 100%;
}

.pitch-grid-centers {
  position: absolute;
  border-top: 1px dashed gray;
  width: 100%;
  opacity: 50%;
}

.pitch-label {
  position: absolute;
  color: white;
  text-shadow: black 0px 0px 5px, black 0px 0px 5px, black 0px 0px 5px;
  height: 0;
  overflow: visible;
  display: flex;
  align-items: center;
  font-family: sans-serif;
  padding-left: 1px;
}

.beat-container {
  will-change: transform;
  position: absolute;
  height: 100%;
  contain: strict;
}

.beat-grid {
  position: absolute;
  height: 100%;
  width: 1px;
  border-left: 1px solid #0c0;
  opacity: 50%;
}

.beat-grid-measure {
  opacity: 100%;
}

.beat-grid-subdiv {
  border-left-style: dotted;
}

.overtone-container {
  will-change: transform;
  position: absolute;
  inset: 0;
  contain: strict;
}
