<div class="container">
  <div>
    <button mat-raised-button color="primary" (click)="onPickAllClick()"><mat-icon>edit</mat-icon>SET ALL</button>
  </div>
  <div class="input-row">
    <mat-form-field hideRequiredMarker>
      <mat-label>Start Offset</mat-label>
      <input matInput type="number" [formControl]="projectMeterCtrls.startOffset" step="0.001">
      <mat-hint>Seconds</mat-hint>
      <button mat-icon-button matSuffix matTooltip="Set by mouse" (click)="onOffsetEditClick($event)"
        [disabled]="!isMeterSet"><mat-icon>edit</mat-icon></button>
    </mat-form-field>
    <mat-form-field hideRequiredMarker>
      <mat-label>Tempo</mat-label>
      <input matInput type="number" [formControl]="projectMeterCtrls.bpm" min="0" step="1">
      <mat-hint>Beats per minute</mat-hint>
      <button mat-icon-button matSuffix matTooltip="Set by mouse" (click)="onTempoEditClick($event)"
        [disabled]="!isMeterSet"><mat-icon>edit</mat-icon></button>
    </mat-form-field>
  </div>
  <div class="input-row">
    <mat-form-field hideRequiredMarker>
      <mat-label>Beats per measure</mat-label>
      <input matInput type="number" [formControl]="projectMeterCtrls.measureLength" min="1" step="1">
    </mat-form-field>
    <mat-form-field hideRequiredMarker>
      <mat-label>Beat subdivision</mat-label>
      <input matInput type="number" [formControl]="projectMeterCtrls.subdivision" min="1" step="1">
    </mat-form-field>
  </div>
  <div>
    <div>Adjust meter while keeping notes</div>
    <div class="icon-button-row">
      <button mat-icon-button (click)="onOffsetBumpBeat(-1)" matTooltip="Back one beat"
        [disabled]="!isMeterSet"><mat-icon>keyboard_arrow_left</mat-icon></button>
      <button mat-icon-button (click)="onOffsetBumpBeat(+1)" matTooltip="Forward one beat"
        [disabled]="!isMeterSet"><mat-icon>keyboard_arrow_right</mat-icon></button>
      <button mat-icon-button (click)="onTempoMult(2, 1)" matTooltip="Double tempo" [disabled]="!isMeterSet">
        <div class="fake-icon"><span>&times;2</span></div>
      </button>
      <button mat-icon-button (click)="onTempoMult(2, -1)" matTooltip="Halve tempo" [disabled]="!isMeterSet">
        <div class="fake-icon"><span>&div;2</span></div>
      </button>
      <button mat-icon-button (click)="onTempoMult(3, 1)" matTooltip="Triple tempo" [disabled]="!isMeterSet">
        <div class="fake-icon"><span>&times;3</span></div>
      </button>
      <button mat-icon-button (click)="onTempoMult(3, -1)" matTooltip="One-third tempo" [disabled]="!isMeterSet">
        <div class="fake-icon"><span>&div;3</span></div>
      </button>
    </div>
  </div>
</div>

<ng-template cdkPortal #portalHelpOffset="cdkPortal">
  <h1>Setting Start Offset</h1>
  <span style="font-size: medium;">Click on the spectrogram on the <em>first beat</em> to set the start offset</span>
</ng-template>

<ng-template cdkPortal #portalHelpTempo="cdkPortal">
  <h1>Setting Tempo</h1>
  <span style="font-size: medium;">Click on the spectrogram on the <em>second beat</em> to set the tempo</span>
</ng-template>

<ng-template cdkPortal #portalHelpOffsetEdit="cdkPortal">
  <h1>Editing Start Offset</h1>
  <span style="font-size: medium;">Click <em> and drag</em> on the spectrogram change the start offset</span>
</ng-template>

<ng-template cdkPortal #portalHelpTempoEdit="cdkPortal">
  <h1>Editing Tempo</h1>
  <span style="font-size: medium;">Click <em> and drag</em> on the spectrogram change the tempo</span>
</ng-template>
