.content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 4px;
  display: grid;
  grid: 1fr / 7fr minmax(360px, 2fr);
  overflow: hidden;
}

.groove-border {
  border: 4px;
  border-style: groove;
}

.settings-panel {
  padding: 8px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.file-toolbar {
  display: flex;
  gap: 8px;
}

.stacking {
  contain: layout;
}

.stacking>*:not(:first-child) {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.settings-panel label {
  font-size: medium;
}

.settings-panel label.inline-comp {
  display: flex;
  align-items: center;
  min-height: 48px;
}

.settings-panel label.inline-comp * {
  margin-left: auto;
}

.settings-panel mat-slider {
  display: block;
}
