.groove-border {
  border: 4px;
  border-style: groove;
}

.settings-panel label {
  font-size: medium;
}

.settings-panel label.inline-comp {
  display: flex;
  align-items: center;
  min-height: 48px;
}

.settings-panel label.inline-comp * {
  margin-left: auto;
}

.settings-panel mat-slider {
  display: block;
}
