<div class="canvas-box" style="width: 100%; height: 100%;" (wheel)="onWheel($event)"
  (mousemove)="cursorY = $event.offsetY" (mouseleave)="cursorY = undefined">
  <canvas #spectrogram_canvas></canvas>
  <div class="crosshair" style="height: 1px;" [style.top.px]="cursorY || 0"
    [hidden]="!showCrosshair || cursorY === undefined"></div>
  <div class="crosshair" *ngFor="let i of [2,3,4,5,6,7,8]" style="height: 1px" [style.opacity]=".8-i*.05"
    [style.top.px]="(cursorY || 0) - overtoneOffsetY(i)"
    [hidden]="!showCrosshair || !showOvertones || cursorY === undefined"></div>
</div>
