<div class="canvas-box" style="width: 100%; height: 100%;" (wheel)="onWheel($event)"
  (mousemove)="cursorY = $event.offsetY" (mouseleave)="cursorY = undefined">
  <canvas #spectrogram_canvas></canvas>
  <div style="pointer-events: none;">
    <div [hidden]="!showCrosshair || cursorY === undefined">
      <div class="crosshair" style="height: 1px;" [style.top.px]="cursorY || 0"></div>
      <div class="crosshair" *ngFor="let o of overtoneYOffsets" style="height: 1px" [style.opacity]=".8-o.i*.05"
        [style.top.px]="(cursorY || 0) - o.y" [hidden]="!showOvertones"></div>
    </div>
    <div [hidden]="!showPitchGrid">
      <div class="pitch-grid-borders" *ngFor="let p of pitchGridBorders" [style.top.px]="p.y"></div>
    </div>
    <div [hidden]="!showPitchGrid || !showPitchGridCenters">
      <div class="pitch-grid-centers" *ngFor="let p of pitchGridCenters" [style.top.px]="p.y"></div>
    </div>
    <div [hidden]="pitchLabelType == 'none'" [style.font-size.px]="pitchLabelFontSize">
      <div class="pitch-label" *ngFor="let p of pitchLabels" [style.top.px]="p.y"><span>{{p.txt}}</span></div>
    </div>
  </div>
</div>
