.pitch-grid-borders {
  position: absolute;
  border-top: 1px solid green;
  width: 100%;
}

.pitch-grid-centers {
  position: absolute;
  border-top: 1px dashed gray;
  width: 100%;
}

.pitch-label {
  position: absolute;
  color: white;
  text-shadow: black 0px 0px 0.1em, black 0px 0px 0.2em, black 0px 0px 0.3em;
  height: 0;
  overflow: visible;
  display: flex;
  align-items: center;
  font-family: sans-serif;
  padding-left: 1px;
}
