/* You can add global styles to this file, and also import other style files */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.canvas-box {
  contain: strict;
}

.crosshair {
  position: absolute;
  inset: 0;
  background-color: white;
  pointer-events: none;
}

html,
body {
  height: 100%;
}

.fill-container,
.canvas-box canvas {
  display: block;
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-card-header * {
  min-width: 0;
}
