/* You can add global styles to this file, and also import other style files */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.canvas-box {
  contain: strict;
}

.crosshair {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  pointer-events: none;
}

html,
body {
  height: 100%;
}

.fill-container,
.canvas-box canvas {
  position: absolute;
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button.hack-small-icon-button.mat-mdc-icon-button.mat-mdc-button-base {
  padding: 4px;
}

button.hack-small-icon-button.mat-mdc-icon-button.mat-mdc-button-base,
button.hack-small-icon-button.mat-mdc-icon-button.mat-mdc-button-base .mat-mdc-button-touch-target {
  width: 32px;
  height: 32px;
}
