/* You can add global styles to this file, and also import other style files */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.canvas-box {
  position: relative;
  overflow: clip;
}

.canvas-box canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

.crosshair {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  pointer-events: none;
}

html,
body {
  height: 100%;
}

.fill-screen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
